.rating-progress
	position relative
	display block
	overflow hidden
	width 100%
	height 40px
	background-color #f2f6fb
	border-radius 5px

	&__bar
		position absolute
		display flex
		align-items center
		height 100%

		&_blue
			background-color #75b9ff

		&_green
			background-color #75ff7f

		&_purple
			background-color #c391ed

	&__bar-label
		padding-x 20px
		display block
		font-size 24px
		font-weight bold
		user-select none
		opacity .2
