.icon
	display inline-block
	font-size 0
	line-height 0
	vertical-align middle
	user-select none

	#profile &
		sprite $nav_pages__profile

	#rating &
		sprite $nav_pages__rating

	#contacts &
		sprite $nav_pages__contacts

	#chat &
		sprite $nav_pages__chat

	#projects &
		sprite $nav_pages__projects

	#casting &
		sprite $nav_pages__casting

	#purse &
		sprite $nav_pages__purse

	#jury &
		sprite $nav_pages__jury

	#help &
		sprite $nav_pages__help

	&.rating-star-md
		sprite $rating__star_md

	&.rating-star-inverse-md
		sprite $rating__star_inverse_md

	&.rating-star-xs
		sprite $rating__star_xs

	&.widget-close
		sprite $widget__close

	&.widget-gear
		sprite $widget__gear

	&.widget-issues
		sprite $widget__issues

	&.nav-drop-mark
		sprite $nav_drop__mark

	&.nav-drop-project
		sprite $nav_drop__project

	&.nav-drop-casting
		sprite $nav_drop__casting

	&.nav-drop-friend
		sprite $nav_drop__friend

	&.search
		width 16px
		height 16px
		background-image url(../images/icon_search.png)
		background-position center