.chat-dialog
	display block

	&__item
		@extends $ex-block-box-shadow

		padding 12px 15px
		height 100%
		cursor pointer
		background-color #ffffff
		border-radius 5px
		transition 300ms ease
		transition-property background-color, box-shadow

		&:hover
			background-color #e9f6fa
			box-shadow none

+media($breakpoints[xs])
	.chat-dialog

		&__item
			display flex
			align-items center
			justify-content space-between

		&__profile
			flex 0 0 55%

		&__message
			flex 0 0 40%
			padding-left 25px
			width 40%
			height 90%
			border-left 1px solid #eaebec

+media($breakpoints[xl])
	.chat-dialog

		&__profile
			flex 0 0 50%

		&__message
			flex 0 0 45%
			width 45%