$color-default = #b0bacc
$color-accent = #ff002a

$font-family_aquarelle = 'Aquarelle', sans-serif
$font-family_helvetica = 'HelveticaNeueCyr', sans-serif

// uses in app.styl
$app-font-family = $font-family_helvetica
$app-font-size = 12px // also uses in mixins.styl for rem()
$app-color = #2c3034
$app-bg-color = #fff

// @extends
$ex-block-box-shadow
	box-shadow 0 3px 34px 0 alpha(#72aaff, 15%)