badge-size = 17px
bg-color = $color-accent

.badge
	padding 0 round(badge-size / 3, 0)
	display inline-flex
	min-width badge-size
	height badge-size
	vertical-align middle
	justify-content center
	align-items center
	font-size 10px
	line-height badge-size
	white-space nowrap
	color #fff

	user-select none
	background bg-color
	border-radius badge-size
