extends ../blocks/layout/default/default

include ../styles/typography/typography

include ../blocks/ui/grid-actions/grid-actions
include ../blocks/ui/field/field
include ../blocks/ui/rating/rating
include ../blocks/ui/box-close/box-close
include ../blocks/ui/calendar/calendar
include ../blocks/ui/file/file
include ../blocks/ui/audio-file/audio-file
include ../blocks/ui/i-label/i-label

include ../blocks/widgets/card-user/card-user

block head
	- var pageTitle = 'Проект';

block content
	+b.create-casting
		.container
			.grid
				.col-24
					+b.widget
						+e.inner
							.grid
								.col-24.col-lg-5
									.grid
										.col-24
											+b.card-profile._md
												+avatar('img_avatar.png').__avatar
													+e.confirmed._sm
												+b.user-info
													+e('ul').list
														+e('li').list-item Иванов Иван
														+e('li').list-item.__age 32 года
										.col-24
											+rating()._up._xl
												+icon().rating-star-md
										.col-24
											+grid-actions
												li.col-24
													.grid.grid_items-center
														.col-8
														.col
															+btn()._default.btn_size_md
																+e('span').label Коммерческий
												li.col-24
													.grid.grid_items-center
														.col-8
															+typography()._size Тип проекта:
														.col
															+btn()._icon-left._default.btn_size_md
																+e('img').icon(src='./assets/images/icon_btn-photo.png')
																+e('span').label Актер
												li.col-24
													.grid.grid_items-center
														.col-8
															+typography()._size Жанр:
														.col
															+btn()._default.btn_size_md
																+e('span').label Название жанра
								.col-24.col-lg-10
									.grid
										.col-24
											+typography('div')._size_xs._weight_light.normalize
												span.h2 Название проекта
												p Небольшой и простой макап для вставки логотипов и брендинга на фирменные пакеты, через смарт объекты.Небольшой и простой макап для вставки логотипов и брендинга на фирменные пакеты, через смарт объекты.
												p Небольшой и простой макап для вставки логотипов и брендинга на фирменные пакеты, через смарт объекты.Небольшой и простой макап для вставки логотипов и брендинга на фирменные пакеты, через смарт объекты.
										.col-24.hidden-after-sm
										.col-24.col-sm-10
											ul.grid
												li.col-24
													.grid.grid_items-center
														.col-auto
															img(src='./assets/images/img_list-1.png')
														.col
															+typography()._size_md 3000P
												li.col-24
													.grid.grid_items-center
														.col-auto
															img(src='./assets/images/img_list-2.png')
														.col
															+typography()._size_xs Начало в 10:00 АМ
												li.col-24
													.grid.grid_items-center
														.col-auto
															img(src='./assets/images/img_list-3.png')
														.col
															+typography()._size_xs 9 часов
												li.col-24
													.grid.grid_items-center
														.col-auto
															img(src='./assets/images/img_list-4.png')
														.col
															+typography()._size_xs Кросс студия
										.col-24.col-sm-14
											+calendar
				.col-24
					+b.widget
						+e.inner
							.grid.grid_items-center.grid_content-between
								.col-24.col-xs-auto
									+typography()._size_xs.__title Участники
								.col-24.col-xs-auto
									+btn()._cancel.btn_size_md
										+e('span').label Открыть чат проекта
							.grid.grid_items-center
								- for(var i = 0; i < 2; i++)
									.col-24.col-xs-12.col-sm-6.col-lg-4.col-xl-3
										+b.box-clip
											+b.card-user._show-info
												+e.header
													+i-label().__i-label Модель
													+b.user-info._lg
														+e('ul').list
															+e('li').list-item Иван Иванов
															+e('li').list-item.__age 32 года
												+e.body
													+rating()._up.__body-rating
														+icon.rating-star-xs
													+e.slider
														+figure('img_faces-slide.png')
													+e.body-nav
														+b('ul').nav-line._fill
															+e('li').item
																+e('a').link.icon-chat(href='#chat') Чат
															+b('li').nav-drop.__item
																a.nav-line__link.icon-add(href='#add') Добавить
																+e.content
																	+e('ul').list
																		+e('li').item
																			+link('#link')._hidden
																			+e('span').label Предварительный отбор
																		+e('li').item
																			+link('#link')._hidden
																			+e('span').label Пригласить на очный кастинг
																		+e('li').item
																			+link('#link')._hidden
																			+e('span').label Пригласить в проект
																		+e('li').item
																			+link('#link')._hidden
																			+e('span').label Утвердить и закрыть кастинг
															+e('li').item
																+e('a').link.icon-profile(href='#profile') Профиль
												+e.footer
													+rating()._up.__footer-rating
														+icon.rating-star-xs
								- for(var i = 0; i < 3; i++)
									.col-24.col-xs-12.col-sm-6.col-lg-4.col-xl-3
										+card-user._show-info
								.col-24.col-xs-12.col-sm-8.col-md-6.col-lg-4.col-xl-3
									+b.party.nav-drop
										+e.header
											+i-label()._blue.__header-label Стилист 2
											+avatar('img_party-start.png')._lg
												+e.confirmed
										+e.body
											+e.body
												+e('span').state Идет кастинг
										.nav-drop__content
											ul.nav-drop__list
												- var arr = ['Перейти к кастингу', 'Отменить кастинг']
												- each item in arr
													li.nav-drop__item
														+link('#link')._hidden=item
														span.nav-drop__label=item
								- for(var i = 0; i < 2; i++)
									.col-24.col-xs-12.col-sm-6.col-lg-4.col-xl-3
										+card-user._show-info
				.col-24
					+b.widget
						+e.inner
							.grid
								.col-24
									+typography()._size_md._weight_light Техническое задание
								.col-24.col-sm-12.col-lg-6
									.grid
										.col-24
											+typography()._size._weight_light Для визажиста
										.col-24
											+file('icon_file-type-pdf.png', 'Название технического задания')
											+file('icon_file-type-doc.png', 'Название технического задания')
										.col-24
											+grid-actions
												- for(var i = 0; i < 5; i++)
													li.col-auto
														+box-close._sm
															+figure('https://via.placeholder.com/45x45')
								.col-24.col-sm-12.col-lg-6
									.grid
										.col-24
											+typography()._size._weight_light Для стилиста
										.col-24
											- for(var i = 0; i < 3; i++)
												+file('icon_file-type-pdf.png', 'Название технического задания')
								.col-24.col-sm-12.col-lg-6
									.grid
										.col-24
											+typography()._size._weight_light Для модели
										.col-24
											- for(var i = 0; i < 3; i++)
												+file('icon_file-type-pdf.png', 'Название технического задания')
				.col-24
					+b.widget
						+e.inner
							.grid
								.col-24
									+typography()._size_xs.__title Фото из проектов
								- for(var i = 0; i < 8; i++)
									.col-24.col-xs-12.col-sm-8.col-md-6.col-lg-3
										+box-close
											+figure('https://via.placeholder.com/170x160')
							.grid
								.col-24
									+typography()._size_xs.__title видео из проектов
								- for(var i = 0; i < 8; i++)
									.col-24.col-xs-12.col-sm-8.col-md-6.col-lg-3
										+box-close
											+figure('https://via.placeholder.com/170x130')
							.grid
								.col-24
									+typography()._size_xs.__title Аудиоальбом
								- for(var i = 0; i < 4; i++)
									.col-24.col-md-12.col-lg-8
										+audio-file
