.check-list
	display block
	font-size 14px
	font-weight 300

	&__item
		margin-top 20px
		margin-left 12px
		padding-left 32px
		background-image url(../images/icon_check-list.png)
		background-repeat no-repeat
		background-position center left

		&:first-of-type
			margin-top 0
