.batch-plan
	display flex
	flex-direction column
	min-width 170px
	height 100%
	font-size 12px
	background-color #f1f5fb
	border-radius 5px
	transition 150ms ease 
	transition-property box-shadow

	&:hover
		box-shadow 0 0 0 2px $color-accent

	&_dark
		background-color #e4eefb

	& > * + *
		border-top 3px solid #ffffff

	&__title
		padding 15px 15px 10px
		display block
		overflow hidden
		font-weight bold
		text-align center
		white-space nowrap
		text-overflow ellipsis
		text-transform uppercase

	&__inner
		flex 1 1 unquote('0%')
		padding 15px 10px
		display flex
		flex-direction column
		justify-content space-between
		align-items center
		text-align center

	&__inner-content
		margin auto

	&__inner-footer
		margin-top 15px
		width 100%

	&__price
		display block
		overflow hidden
		font-size 28px
		font-weight 500
		white-space nowrap
		text-overflow ellipsis
		color #2e9a14

		&-cy
			font-size 22px

	&__btn
		font-size 12px

	&__quantity
		display block
		font-size 36px
		font-weight 500
		color #9aa7bf

		&-sr
			display block
			font-size 14px

	&__accent
		display block
		font-weight 500
		color $color-accent

	&__bold
		display block
		font-weight 500
		text-transform uppercase

	&__list-item
		margin-top 7px

		&:first-child
			margin-top 0