.box-clip
	position relative
	height 100%

	&:before
		position absolute
		z-index 1
		top -8px
		left 8px
		display block
		width 12px
		height 18px
		content ''
		background url(../images/icon_box-clip.png) no-repeat center