.logo
	position relative
	display inline-flex
	align-items center

	&__image
		margin-right 25px

	&__name
		display block
		font-size 34px
		font-weight 300
		text-transform uppercase

	&__tagline
		display block
		font-size 14px
