.lang
	display flex
	align-items center
	font-size 14px

	&__flag
		margin-right 20px
		display inline-block
		width 30px
		height 20px
		background-color #eee
		background-repeat no-repeat
		background-position center
		background-size cover