.typography

	&_size
		font-size 1rem

		&_xl
			font-size 2rem
			// font-size em(24px, $typography-font-size)

		&_lg
			font-size 1.666666667rem
			// font-size em(20px, $typography-font-size)

		&_md
			font-size 1.5rem
			// font-size em(18px, $typography-font-size)

		&_sm
			font-size 1.333333333rem
			// font-size em(16px, $typography-font-size)

		&_xs
			font-size 1.166666667rem
			// font-size em(14px, $typography-font-size)

	&_weight
		font-weight normal

		&_black
			font-weight 900

		&_bold
			font-weight bold

		&_medium
			font-weight 500

		&_light
			font-weight 300

		&_ultra-light
			font-weight 200

		&_thin
			font-weight 100

	&_color

		&_accent
			color $color-accent

		&_neutral
			color #9aa7bf

	&_uppercase
		text-transform uppercase