.user-info
	display block
	font-size 16px
	line-height 1.2

	&_lg
		font-size 18px

	&__list
		display block

	&__list-item
		margin-top 5px

		&:first-of-type
			margin-top 0

	&__age
		font-size 14px