.area-load
	padding 20px 0
	display flex
	flex-direction column
	justify-content center
	align-items center
	height 100%
	color #b0bacc
	background #f2f6fb

	& > * + *
		margin-top 15px

	input[type='file']
		display none

	&_snap
		height 270px

	&_absolute
		position-center(1)