.i-label
	padding-x 12px
	display inline-block
	overflow hidden
	font-size 12px
	line-height 28px
	white-space nowrap
	text-overflow ellipsis
	color #ffffff
	background-color $color-accent

	&_purple
		background-color #6000ff

	&_blue
		background-color #009cff